@page "/groups"
@attribute [Authorize(Policy = PolicyIdentifiers.HeadOfAdmissionCommittee)]
@using Application.Groups.Data
@using Microsoft.EntityFrameworkCore
@using Application.Access.Enums
@using System.Security.Claims
@using Application.Common.Enums
@using Application.Data
@using Application.Specialities.Services
@inject IDbContextFactory<MainDbContext> DbContextFactory
<h3>Группы</h3>
<PageTitle>Группы</PageTitle>
Просмотр списка груп
<CreateGroupModal OnAfterCreate="OnAfterGroupCreated"/>
<div class="row">
    <div class="col-12 col-md-4">
        <EditForm EditContext="EditContext">
            <MyYearSelector @bind-Value="SelectedYear"/>
            <MyEnumSelector TValue="FinanceEnrolmentType" @bind-Value="SelectedFinanceEnrolmentType" Label="Тип финансирования"/>
            <MyEnumSelector TValue="EducationForm" @bind-Value="SelectedEducationForm" Label="Форма обучения"/>
            <MyInputRadioGroup Label="Специальность" @bind-Value="@SelectedSpecialityId" RadioItems="SpecialityRadioItems"/>
        </EditForm>
    </div>
    <div class="col-12 col-md-8">
        <MudTable T="Group" Items="Groups" Hover="true" SortLabel="Сортировать по" Filter="Filter">
            <HeaderContent>
                <MudTh>№ п.п.</MudTh>
                <MudTh>Название</MudTh>
                <MudTh>Количество студентов</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Id</MudTd>
                <MudTd>@context.Name</MudTd>
                <MudTd>@context.StudentsCount</MudTd>
                <MudTd>
                    <div class="btn-group">
                        <GroupStudentsModal Group="context" StudentListChanged="() => OnStudentsAddedAsync(context.Id)"/>
                        <GroupDownloadEnrolledStudentsButton Group="context"/>
                    </div>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>
</div>

@code {

    private List<Group> Groups { get; set; } = new();

    private ClaimsPrincipal CurrentUser { get; set; } = new();

    public List<ValueRadioItem<long>> SpecialityRadioItems { get; set; } = new();

    public int SelectedYear { get; set; }

    public long SelectedSpecialityId { get; set; }

    public EducationForm? SelectedEducationForm { get; set; }
    
    public FinanceEnrolmentType? SelectedFinanceEnrolmentType { get; set; }
    
    public EditContext EditContext { get; set; } = null!;
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        EditContext = new(this);
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var specialities = await context.GetSpecialitiesAsync();
        SpecialityRadioItems = specialities;
        await LoadGroupsAsync();
        CurrentUser = (await AuthenticationStateTask).User;
    }

    private async Task OnAfterGroupCreated(CreateGroupModal.AfterCreateEventArgs args)
    {
        await LoadGroupsAsync();
    }

    private async Task LoadGroupsAsync()
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        Groups = await context.Group.OrderBy(x => x.Name)
            .ToListAsync();
    }

    private async Task OnStudentsAddedAsync(long groupId)
    {
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var group = await context.Group.FindAsync(groupId) ?? throw new InvalidOperationException();
        group.StudentsCount = await context.Student.CountAsync(x => x.GroupId == groupId);
        await context.SaveChangesAsync();
        Groups[Groups.FindIndex(x => x.Id == groupId)] = group;
    }

    private bool Filter(Group group)
    {
        return group.SpecialityId == SelectedSpecialityId &&
        group.EnrollmentYear <= SelectedYear &&
        group.GraduationYear >= SelectedYear &&
        (!SelectedFinanceEnrolmentType.HasValue || SelectedFinanceEnrolmentType == group.FinanceEnrolmentType) &&
        (!SelectedEducationForm.HasValue || SelectedEducationForm == group.EducationForm);
    }

}