@using System.Security.Claims
@inherits LayoutComponentBase
<PageTitle>Application</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (CurrentUser.Identity?.IsAuthenticated ?? false)
            {
                <span>@((CurrentUser.FindFirst(ClaimTypes.GivenName) ?? CurrentUser.FindFirst(ClaimTypes.Name))?.Value)</span>

                <form action="/access/logout" method="post">

                    <button type="submit" class="btn btn-primary">Выход</button>

                </form>
            }
            else
            {
                <a href="/Access/Login" class="btn btn-primary">Вход</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{

    private ClaimsPrincipal CurrentUser { get; set; } = new();

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        CurrentUser = (await AuthenticationStateTask).User;
    }
}