@using Microsoft.EntityFrameworkCore
@using Application.Data
@using Application.Teachers.Forms
@using Application.Teachers.Data
@inject IDbContextFactory<MainDbContext> DbContextFactory

<button type="button" class="btn btn-primary" @onclick="OnOpenAsync">
    Вычитать часы преподавания
</button>

@if (Visible)
{
    <PageTitle>Техникум - Вычитать часы преподавания </PageTitle>
    <div class="modal fade show" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Вычитать часы преподавания</h5>
                    <button type="button" class="close" data-dismiss="modal" @onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm EditContext="EditContext">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                        <MyMonthSelector @bind-Value="Form.Month" Required="true"/>
                        <MyYearSelector @bind-Value="Form.Year" Required="true"/>
                        <MyTeacherLoadInput @bind-Value="Form.TeacherLoad" TeacherLoads="AllUserLoads"/>
                        <MyProofreadingTeacherDayInput Year="Form.Year" Month="Form.Month" @bind-Value="Form.Days"/>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="OnCancel">Закрыть</button>
                    <button type="button" class="btn btn-primary" @onclick="OnSubmitAsync">Вычитать часы преподавания</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    public CreateProofreadingTeacherLoadForm Form { get; set; } = null!;

    public EditContext EditContext { get; set; } = null!;

    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; } = EventCallback.Empty;

    [Parameter]
    public long CurrentUserId { get; set; }

    [Parameter]
    public Func<Task<List<TeacherLoad>>> GetAllUserLoadsAsync { get; set; } = null!;

    public List<TeacherLoad> AllUserLoads { get; set; } = new();

    private void OnCancel()
    {
        Visible = false;
    }

    private async Task OnOpenAsync()
    {
        AllUserLoads = await GetAllUserLoadsAsync();
        Form = new CreateProofreadingTeacherLoadForm
        {
            TeacherLoad = AllUserLoads.FirstOrDefault()
        };
        EditContext = new EditContext(Form);
        Visible = true;
    }

    private async Task OnSubmitAsync()
    {
        if (!Visible || !EditContext.Validate())
            return;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var load = Form.ToProofreadingTeacherLoad();
        context.ProofreadingTeacherLoad.Add(load);
        await context.SaveChangesAsync();
        OnCancel();
        await OnSubmit.InvokeAsync();
    }
}