@using Application.Specialities.Data
@using Microsoft.EntityFrameworkCore
@using Application.Data
@using Application.Teachers.Data
@inject IDbContextFactory<MainDbContext> DbContextFactory

<button type="button" class="btn btn-primary" @onclick="OnOpen">
    Удалить
</button>

@if (Visible)
{
    <PageTitle>Техникум - Удалить нагрузку </PageTitle>
    <div class="modal fade show" role="dialog" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить нагрузку</h5>
                    <button type="button" class="close" data-dismiss="modal" @onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert-danger">Вы действительно хотите удалить нагрузку @TeacherLoad.Group.Name @TeacherLoad.Subject.Code @TeacherLoad.Subject.Name?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="OnCancel">Закрыть</button>
                    <button type="button" class="btn btn-primary" @onclick="OnSubmitAsync">Удалить нагрузку</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    public bool Visible { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; } = EventCallback.Empty;

    [Parameter]
    public TeacherLoad TeacherLoad { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void OnCancel()
    {
        Visible = false;
    }

    private void OnOpen()
    {
        Visible = true;
    }

    private async Task OnSubmitAsync()
    {
        if (!Visible)
            return;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var teacherLoad = await context.TeacherLoad.FirstOrDefaultAsync(x => x.Id == TeacherLoad.Id);
        if (teacherLoad is null)
        {
            OnCancel();
            return;
        }
        context.TeacherLoad.Remove(teacherLoad);
        await context.SaveChangesAsync();
        await OnSubmit.InvokeAsync();
    }
}