@using Application.Teachers.Forms
@using Application.Common.Helpers
@inherits MudBaseInput<List<Application.Teachers.Forms.ProofreadingTeacherDayForm>>
<MudField Label="Часы в день">
    <div class="row justify-content-between">
        @for (var index = 0; index < Value.Count; index++)
        {
            var currentIndex = index;
            var day = Value[index];
            var date = new DateTime(Year, Month, day.Number);
            var label = $"{day.Number} {date.GetShortDayOfWeek()}";
            var isNotWorkDay = date.DayOfWeek is DayOfWeek. Sunday or DayOfWeek.Saturday;
            if (isNotWorkDay)
            {
                <div class="col-sm-4 col-lg-2">
                    <MudField Label="@label" Disabled="true"><small>выходной</small></MudField>
                </div>
            }
            <div class="col-sm-4 col-lg-2">
                <MudNumericField T="int" Label="@label" ValueChanged="@(async value => await SetValueAsync(currentIndex, value))" Value="day.Hours" Min="0" Max="24"/>
            </div>
        }
    </div>
</MudField>
<ValidationSummary/>

@code
{
    [Parameter]
    public int Month { get; set; }

    [Parameter]
    public int Year { get; set; }

    private (int Year, int Month) CurrentYearMonthTuple { get; set; } = (-1, -1);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        var (month, year) = CurrentYearMonthTuple;
        if (Month == month && Year == year)
        {
            return;
        }
        Value = ProofreadingTeacherDayForm.GetZeroHourDaysByMonth(Month, Year, Value);
    }

    private async Task SetValueAsync(int index, int value)
    {
        Value[index].Hours = value;
        await ValueChanged.InvokeAsync(Value);
    }
}