@page "/specialities"
@using Application.Specialities.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<SpecialitiesDbContext> SpecialitiesDbContextFactory

<table class="table">
    <thead>
    <tr>
        <th scope="col">Код</th>
        <th scope="col">Специальность</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Specialities)
    {
        <tr>
            <th scope="row">@item.Code</th>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>

@code
{
    private List<Speciality> Specialities { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await using var context = await SpecialitiesDbContextFactory.CreateDbContextAsync();
        Specialities = await context.Speciality.OrderBy(x => x.Code).AsNoTracking().ToListAsync();
    }
}